body{
    text-emphasis: none;
    text-align: center;
    text-decoration: none;
    background-image: url(ywallpaperflare.com_wallpaper\ \(3\).jpg);
    font-style: italic;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-inline:7px;
    background-repeat:no-repeat;
    background-size: auto;
    color:whitesmoke;
}
.header{
    text-emphasis: none;
    text-align: center;
    text-align: justify;
    text-decoration: wavy; 
    font-weight: bolder;   
}
nav{
    text-align: right;
    text-decoration: wavy;
    padding: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
.section{
 padding: auto;
}
.login-button {
    display: block;  
}

.logged-in .login-button {
    display: none;
}